.main {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #34A0A4;
    position: fixed;
    top: 0px;
}
.main div {
    margin: 13px;
    cursor: pointer;
    color: aliceblue;
    align-items: center;
    transition-duration: 0.3s;
    font-size: 20px;
    font-weight: bold;
}
.main button {
    background: white;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    transition-duration: 0.6s;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;

}
.main button:hover{
    transition-duration: 0.3s;
    cursor: pointer;
    color: #ffffff;
    background-color: #184E77 ;
    border: 2px solid #184E77;
}

.main div:hover {
    color: #2e2f2f;
    transition-duration: 0.3s;
}